<div class="category cat-stuff">
    <b>Elsewhere</b><br>
    <i>Decentral / Fediverse</i>
    <ul>
        <li>Urbit: ~sibnup-litdev</li>
        <li>&#123;<a target="_blank" rel="me" href="https://quietplace.xyz/@coppnic">microblogging</a>&#125;</li>
        <li>&#123;<a target="_blank" rel="me" href="https://pixelfed.tokyo/Jaxa">pictures</a>&#125;</li>
    </ul>

    <i>Clearnet</i>
    <ul>
        <li>&#123;<a target="_blank" rel="me" href="https://twitter.com/coppnic">twitter</a>&#125;</li>
        <li>&#123;<a target="_blank" rel="me" href="https://github.com/marvinpoo">github</a>&#125;</li>
    </ul>

    <i>Other</i>
    <ul>
        <li><a href="/publications/">Publications</a></li>
    </ul>
</div>