<div class="category cat-stuff">
    <b>Elsewhere</b>
    <ul>
        <li>Urbit: ~sibnup-litdev</li>
        <li>&#123;<a target="_blank" rel="me" href="https://etherscan.io/address/0xE3E3518f09A5e528aBD421c1fF56DE3ae096C763">coppnic.eth</a>&#125;</li>
        <li>&#123;<a target="_blank" rel="me" href="https://twitter.com/coppnic">twitter</a>&#125;</li>
        <li>&#123;<a target="_blank" rel="me" href="https://github.com/marvinpoo">github</a>&#125;</li>
        <br>
        <li><a href="/publications/">Publications</a></li>
    </ul>
</div>