<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <meta name="author" content="Marvin Borisch">
  <meta name="publisher" content="Marvin Borisch">
  <meta name="copyright" content="Marvin Borisch">
  <meta name="description" content="the personal Zen Garden of a 24/7 busy brain">
  <meta http-equiv="content-language" content="en">
  <meta name="robots" content="index, follow">
  <meta name="DC.Creator" content="Marvin Borisch">
  <meta name="DC.Publisher" content="Marvin Borisch">
  <meta name="DC.Rights" content="Marvin Borisch">
  <meta name="DC.Description" content="the personal Zen Garden of a 24/7 busy brain">
  <meta name="DC.Language" content="en">
</head>
