/*******************
/*
/* Name: Marvli Project SCSS
/* Description: This is the basic include for Classical Website Projects
/* Version: 0.1
/* Author: Marvin Borisch
/* URI: https://github.com/marvinpoo/_marvli.scss
/* License: MIT
/*
/*******************

/* mediaqueries */
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;

@mixin size($size) {
  @if $size == md {
    @media screen and (min-width: $medium) { @content; }
  }
  @else if $size == lg {
    @media screen and (min-width: $large) { @content; }
  }
  @else if $size == xl {
    @media screen and (min-width: $xlarge) { @content; }
  }
}
